#norecords {
    padding-top: 10%;
    color: darkgray;
    border-radius: 20px;
}
ion-title {
    font-family: 'Batangas';
    font-size: x-large;
  }
  .contentdiv {
    background-color: white;
    border-radius: 20px;
    height: 100%;
  }
  ion-content {
    --background: #2bb8ad;
}