<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Tricycle Guide</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="sldatt">
    <ion-slide>
      <div class="slide">
        <img src="../../assets/images/jeepney1.png" />
        <p>
          Tricyle or sometimes called as “trike” is a three-wheeled public utility vehicle consisting of a motorcycle and an attached passenger’s side car, inspired by the motorcycle used in www2. Tricycles have fixed routes and flexible routes where they can take you to your destination at the agreed price. These trikes are commonly found on suburban places except on major or main roads.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/jeepney2.jpg" />
      <h2>Step 1</h2>
      <p>
        Tricycle drivers usually wears a colored vest that indicate their route. 
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/jeepney2.jpg" />
      <h2>Step 2</h2>
      <p>
        When hailing a tricycle just extend your arms so that the driver can see that you need a ride
      </p>
    </ion-slide>

  </ion-slides>
</ion-content>
