ion-slides {
  height: 100%;
  --bullet-background: white;
  --bullet-background-active: #bd9211;
}
.swiper-slide {
  display: block;
}
.swiper-slide p {
  color: #bd9211;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}
.swiper-slide h2 {
  color: #bd9211;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-family: 'Batangas';
  font-size: xx-large;
}
.swiper-slide img {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  border-radius: 10%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
}
ion-title {
  font-family: 'Batangas';
  font-size: x-large;
  margin-left: -10%;
}
