<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-title>Tricycle Guide</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentdiv">
    <ion-slides pager="true" class="sldatt">
      <ion-slide>
        <div class="slide">
          <img src="../../assets/images/tricyclecover.jpg" />
          <p>
            Tricyle, AKA “trike”, is a three-wheeled public utility vehicle consisting of a motorcycle and an attached passenger’s side car. Tricycles have fixed routes and flexible routes where they can take you to your destination at the agreed price. These trikes are commonly found on suburban places except on major or main roads.
          </p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/images/tricycle1.jpeg" />
        <h2>Step 1</h2>
        <p>
          Look for tricycles that are passing by. Tricycle drivers usually wear a colored vest that indicate their route. 
        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/images/tricycle2.jpg" />
        <h2>Step 2</h2>
        <p>
          When hailing a tricycle just extend your arms so that the driver can see that you need a ride.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/images/tricycle3.jpg" />
        <h2>Step 3</h2>
        <p>
          Tell the driver where you want to be dropped off and negotiate the fare. Try and haggle the price, most tricycle drivers will agree to a lower price.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/images/tricycle4.jpg" />
        <h2>Step 4</h2>
        <p>
          Some drivers may not know the exact route to your destination, you can guide them throughout the way.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/images/tricycle5.png" />
        <h2>Step 5</h2>
        <p>
          When you're at your desired destination, say "PARA" to stop the vehicle. Pay the fare after getting off the trike.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/images/tricycletip.png" />
        <h2>Tips</h2>
        <p>
          If you want to pay the lowest fare, wait until the trike is filled up with passengers. If you want the tricycle exclusively, just tell the driver you want a “special” ride. He will charge a little extra but it’s more comfortable to ride alone.
        </p>
      </ion-slide>

    </ion-slides>
  </div>
</ion-content>
