ion-card {
    width: auto;
    height: 90%;
    text-align: center;
    padding: 10%;
    img {
        width: 80%;
        height: 50%;
        margin-top: 20%;
    }
    h2 {
        font-weight: bolder;
        margin: 5%;
    }
    p {
        font-weight: bolder;
        font-size: large;
    }
}