<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Commuting Guide</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="primary" (click)="jeepneyGuide()">
          <img src="../../assets/icon/jeepney-icon.png" />
          <p>Jeepney</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="tertiary" (click)="tricycleGuide()">
          <img src="../../assets/icon/tricycle-icon.png" />
          <p>Tricycle</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="secondary" (click)="busGuide()">
          <img src="../../assets/icon/bus-icon.png" />
          <p>Bus</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="warning" expand="block" (click)="walkGuide()">
          <img src="../../assets/icon/walk-icon.png" />
          <p>Walk</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="danger" (click)="scamGuide()">
          <img src="../../assets/icon/danger-icon.png" />
          <b>Scams & Dangers</b>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
