<ion-content>
  <ion-slides pager="true" class="sldatt">
    <ion-slide>
      <div class="slide">
        <img src="../../assets/images/navigate.png" />
        <h2>Find your way through the city</h2>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/fare.png" />
      <h2>Pay the right fares</h2>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/time.png" />
      <h2>Get there on time</h2>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/para.png" />
      <h2>Travel like a local</h2>
      <ion-button class="tarabtn" size="large" fill="clear" (click)="signUp()">
        Tara na! 
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>