ion-list-header{
    img{
    max-height: 50%;
    max-width: 50%;
    }
    ion-label{
        margin-left: 5%;
        font-size: x-large;
        font-weight: bold;
        font-family: 'Batangas';
        p{
        color: #f77f22;
        font-size: xx-large;
        font-weight: bold;
        }
    }
    margin-top: -10%;
    margin-bottom: -15%;
}
.card {
    background-color: rgb(230, 175, 93); // black
    box-shadow: none;
  }

.subheader {
    text-align: center;
}

#signupusing{
    text-align: center;
    color: #2bb8ad;
}