<ion-content>
  <ion-list>
    <ion-list-header>
      <img src="../../assets/icon/Parafarelogo.png" />
      <ion-label color="primary" >
        Kumusta,
        <p>
          Fellow Pasahero!
        </p>
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label color="primary" class="subheader">Log in to your Account</ion-label>
    </ion-item>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input placeholder="Enter Username"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="stacked">Password</ion-label>
        <ion-input placeholder="Enter Password" type="Password"></ion-input>
        </ion-item>
      <ion-item lines="none">
        <ion-button slot="end" fill="clear" size="small" >
          Forgot your password?
        </ion-button>
      </ion-item>
  </ion-list>
  <ion-button expand="block" color="secondary">
    Log In
  </ion-button>
  <p id="signupusing">or Log in using</p>
  <!-- <ion-card> -->
  <ion-button color="new"><ion-icon name="logo-facebook"></ion-icon>&nbsp;Facebook</ion-button>
  <ion-button fill="outline"><ion-icon name="logo-google"></ion-icon>&nbsp;Google</ion-button>
<!-- </ion-card> -->
  <ion-button fill="clear" size="small" expand="block">
    Create an account here
  </ion-button>
</ion-content>