ion-list-header{
    margin-top: -5%;
    img{
    max-height: 50%;
    max-width: 50%;
    }
    ion-label{
        margin-left: 5%;
        margin-right: 5%;
        p{
        font-size: smaller;
        }
    }
}
ion-title {
    font-family: 'Batangas';
    font-size: x-large;
    margin-left: -10%;
  }
  .contentdiv {
    background-color: white;
    border-radius: 20px;
    height: 100%;
  }
  ion-content {
    --background: #2bb8ad;
}