ion-list-header{
    margin-top: -5%;
    img{
    max-height: 50%;
    max-width: 50%;
    }
    ion-label{
        margin-left: 5%;
        margin-right: 5%;
        p{
        font-size: smaller;
        }
    }
}