<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Fare Guide</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="sldatt">
    <ion-slide>
      <h3>Batangas - Balagtas VV</h3>
      <table>
        <tr>
          <th>KM</th>
          <th>Particulars</th>
          <th>REG Fare</th>
          <th>S/E/D Fare</th>
        </tr>
        <tr>
          <td>0</td>
          <td>Batangas City Hall</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Native Lumber Kumintang Ibaba</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Welcome Rotonda Kumintang Ilaya</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Tops steel Construction Alangilan</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Balagtas Sitio 1</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Sitio 3</td>
          <td>&#8369;13.75</td>
          <td>&#8369;11.00</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Balagtas</td>
          <td>&#8369;15.50</td>
          <td>&#8369;12.50</td>
        </tr>
      </table>
    </ion-slide>
    <ion-slide>
      <h3>Bauan - Batangas</h3>
      <table>
        <tr>
          <th>KM</th>
          <th>Particulars</th>
          <th>REG Fare</th>
          <th>S/E/D Fare</th>
        </tr>
        <tr>
          <td>0</td>
          <td>Bauan Public Market</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Shell Gasoline Station</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Avida Settings Homes</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>3</td>
          <td>First Gen Clean Energy Complex</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Sta. Rita Elem. School</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Bolbok Barangay Hall</td>
          <td>&#8369;13.75</td>
          <td>&#8369;11.00</td>
        </tr>
        <tr>
          <td>6</td>
          <td>CITI Mart</td>
          <td>&#8369;15.50</td>
          <td>&#8369;12.50</td>
        </tr>
        <tr>
          <td>7</td>
          <td>BDO Batangas Burgos Branch</td>
          <td>&#8369;17.50</td>
          <td>&#8369;14.00</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Batangas City New Public Market</td>
          <td>&#8369;19.25</td>
          <td>&#8369;15.25</td>
        </tr>
      </table><br>
    </ion-slide>
    <ion-slide>
      <h3>Batangas - Bauan</h3>
      <table>
        <tr>
          <th>KM</th>
          <th>Particulars</th>
          <th>REG Fare</th>
          <th>S/E/D Fare</th>
        </tr>
        <tr>
          <td>0</td>
          <td>Batangas City New Public Market</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Total Gasoline Station</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Philippine Port Authority Pier</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Diversion Road Intersection</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Bolbok Barangay Hall</td>
          <td>&#8369;12.00</td>
          <td>&#8369;9.50</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Sta. Rita Elem. School</td>
          <td>&#8369;13.75</td>
          <td>&#8369;11.00</td>
        </tr>
        <tr>
          <td>6</td>
          <td>First Gen Clean Energy Complex</td>
          <td>&#8369;15.50</td>
          <td>&#8369;12.50</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Avida Settings Homes</td>
          <td>&#8369;17.50</td>
          <td>&#8369;14.00</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Shell Gasoline Station</td>
          <td>&#8369;19.25</td>
          <td>&#8369;15.25</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Bauan Public Market</td>
          <td>&#8369;21.25</td>
          <td>&#8369;17.00</td>
        </tr>
      </table><br>
    </ion-slide>
    

  </ion-slides>
</ion-content>
