<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-title>Fare Guide</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false"> 
  <div class="contentdiv">
    <!-- <ion-text id="fading-text">This text will fade in and out</ion-text> -->
    <ion-slides pager="true" class="sldatt">
      <ion-slide>
        <h3>Batangas - Balagtas VV</h3>
        <table >
          <tr>
            <th>KM</th>
            <th>Particulars</th>
            <th>REG Fare</th>
            <th>S/E/D Fare</th>
          </tr>
          <tr>
            <td>0</td>
            <td>Batangas City Hall</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Native Lumber Kumintang Ibaba</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Welcome Rotonda Kumintang Ilaya</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Tops steel Construction Alangilan</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Balagtas Sitio 1</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Sitio 3</td>
            <td>&#8369;13.75</td>
            <td>&#8369;11.00</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Balagtas</td>
            <td>&#8369;15.50</td>
            <td>&#8369;12.50</td>
          </tr>
        </table>
      </ion-slide>
      <ion-slide>
        <h3>Bauan - Batangas</h3>
        <table>
          <tr>
            <th>KM</th>
            <th>Particulars</th>
            <th>REG Fare</th>
            <th>S/E/D Fare</th>
          </tr>
          <tr>
            <td>0</td>
            <td>Bauan Public Market</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Shell Gasoline Station</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Avida Settings Homes</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>3</td>
            <td>First Gen Clean Energy Complex</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Sta. Rita Elem. School</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Bolbok Barangay Hall</td>
            <td>&#8369;13.75</td>
            <td>&#8369;11.00</td>
          </tr>
          <tr>
            <td>6</td>
            <td>CITI Mart</td>
            <td>&#8369;15.50</td>
            <td>&#8369;12.50</td>
          </tr>
          <tr>
            <td>7</td>
            <td>BDO Batangas Burgos Branch</td>
            <td>&#8369;17.50</td>
            <td>&#8369;14.00</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Batangas City New Public Market</td>
            <td>&#8369;19.25</td>
            <td>&#8369;15.25</td>
          </tr>
        </table><br>
      </ion-slide>
      <ion-slide>
        <h3>Batangas - Bauan</h3>
        <table>
          <tr>
            <th>KM</th>
            <th>Particulars</th>
            <th>REG Fare</th>
            <th>S/E/D Fare</th>
          </tr>
          <tr>
            <td>0</td>
            <td>Batangas City New Public Market</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Total Gasoline Station</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Philippine Port Authority Pier</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Diversion Road Intersection</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Bolbok Barangay Hall</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Sta. Rita Elem. School</td>
            <td>&#8369;13.75</td>
            <td>&#8369;11.00</td>
          </tr>
          <tr>
            <td>6</td>
            <td>First Gen Clean Energy Complex</td>
            <td>&#8369;15.50</td>
            <td>&#8369;12.50</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Avida Settings Homes</td>
            <td>&#8369;17.50</td>
            <td>&#8369;14.00</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Shell Gasoline Station</td>
            <td>&#8369;19.25</td>
            <td>&#8369;15.25</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Bauan Public Market</td>
            <td>&#8369;21.25</td>
            <td>&#8369;17.00</td>
          </tr>
        </table><br>
      </ion-slide>
      <ion-slide id="lastslide">
        <h5>Batangas - Balete VV</h5>
        <table >
          <tr>
            <th>KM</th>
            <th>Particulars</th>
            <th>REG Fare</th>
            <th>S/E/D Fare</th>
          </tr>
          <tr>
            <td>0</td>
            <td>Balete Terminal</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Balete Health Center</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Balete Day care Center near Brgy. Hall</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Sta. Clara Relocation Site Gate 2</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Sito Lomi House Banaba East</td>
            <td>&#8369;12.00</td>
            <td>&#8369;9.50</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Plaza De Roxas Pulo Balagtas</td>
            <td>&#8369;13.75</td>
            <td>&#8369;11.00</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Total Gas Station Balagtas</td>
            <td>&#8369;15.50</td>
            <td>&#8369;12.50</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Galaxi Gas Station Diversion</td>
            <td>&#8369;17.50</td>
            <td>&#8369;14.00</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Banaba South</td>
            <td>&#8369;19.25</td>
            <td>&#8369;15.25</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Diversion Petron Gas Station Bolbok</td>
            <td>&#8369;21.00</td>
            <td>&#8369;16.75</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Bolbok FlyOver (Ilalim Tulay)</td>
            <td>&#8369;22.75</td>
            <td>&#8369;18.25</td>
          </tr>
          <tr>
            <td>11</td>
            <td>PPA Office</td>
            <td>&#8369;24.50</td>
            <td>&#8369;19.75</td>
          </tr>
          <tr>
            <td>12</td>
            <td>Travellers Inn </td>
            <td>&#8369;26.50</td>
            <td>&#8369;21.00</td>
          </tr>
          <tr>
            <td>12.6</td>
            <td>New Public Market Cuta Bats City</td>
            <td>&#8369;27.50</td>
            <td>&#8369;22.00</td>
          </tr>
        </table>
        
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>
