ion-slides {
  height: 100%;
  --bullet-background: #383a3e;
  --bullet-background-active: #eb445a;
}
.swiper-slide {
  display: block;
}
.swiper-slide p {
  color: #eb445a;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}
.swiper-slide h2 {
  color: #eb445a;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-weight: bolder;
}
.swiper-slide h4 {
  color: #eb445a;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-weight: bolder;
}
.swiper-slide img {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  border-radius: 10%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
}
.smalltext{
  font-size: smaller;
}