<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title>Scams & Dangers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentdiv">
  <ion-slides pager="true" class="sldatt">
    <ion-slide>
      <div class="slide">
        <img src="../../assets/images/scamcover.jpg" />
        <h2>Common Scams and Dangers</h2>
        <p>
          Here are a couple of scams and dangers you may, hopefully not, encounter on your commute. It will be useful to know about them and how to avoid these situations.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/scam1.png" />
      <h2>Broken metre scam</h2>
      <p class="smalltext">
        Some taxi drivers claim their meter is broken. Instead, they will charge a set fare to take you to your destination. Some prey on tourists who are unfamiliar with the area and would purposefully choose longer routes over shortcuts. Some even tamper with their meters, charging consumers more money since they charge more quickly than normal taxi meters.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/scam1.png" />
      <h4>Broken metre scam: How to avoid it</h4>
      <p class="smalltext">
        If a taxi claims its meter is broken, don't get in. Don't fall for the <i>'kontrata'</i> system used by these drivers. Tell the driver if you detect strange charging practices. Let them know that you have informed your friends or family that you're riding in his car. Give a friend or family member their name, operator's name, and license plate number. If you're in places like airports, only queue the official taxi line.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/scam2.png" />
      <h2>Taxi spray scam</h2>
      <p>
        Taxi spray scams target lone passengers. You'll see the driver use a towel to cover his mouth and nose then spray something that you'll eventually smell and may make you feel dizzy or disoriented. If you pass out, you run the risk of being robbed, abused, and abandoned on the road. 
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/scam2.png" />
      <h4>Taxi spray scam: How to avoid it</h4>
      <p class="smalltext">
        When in a public taxi, be cautious. To avoid being robbed by drivers, hide your valuables. Always inform the driver that you have informed your friends or relatives of your destination and the information of the taxi. Lock all the doors. If you see the driver spraying anything and trying to cover his mouth and nose, get out of the car immediately.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/scam3.png" />
      <h2>Pickpockets</h2>
      <p>
        Pickpockets are every-where, but they’re more rampant in busy areas. They’ll try to distract you with random things like coins and newspapers so they could slash your bags and take your wallets. Sometimes, they even take it straight from their victim’s pockets.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/scam3.png" />
      <h4>Pickpockets: How to avoid it</h4>
      <p class="smalltext">
        When in a public place, stay focused. Someone might be trying to distract you if they came up to you while you're reading a magazine or newspaper. Keep an eye on your belongings and be vigilant. If you can't have an anti-theft bag, only carry a small amount of cash when outside. Instead of tucking your phone or wallet in the back of your jeans, wear a money belt or carry your purse in front of you.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/scam4.png" />
      <h2><i>Budol-budol</i> gang</h2>
      <p>
        Members of the <i>Budol-Budol</i> gang employ a variety of tactics to prey on their vulnerable victims. They might sometimes try to sweet talk you or make up a sob story.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/scam4.png" />
      <h4><i>Budol-budol</i> gang: How to avoid it</h4>
      <p>
        Actually listen to what your parents told you. Don’t talk to strangers! If possible, avoid wearing pieces of jewelry while traveling. Being too nice may come at a price, so it's better to be perceived as rude than taken advantaged of.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/scam5.png" />
      <h2>Fake travel agencies</h2>
      <p class="smalltext">
        Because of their low prices, fake travel firms and agents often prey on unsuspecting travelers online. They sometimes even provide discounted packages that include travel, lodging, and food. You won't be able to find them again after payment and when it’s already close to the travel date.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/scam5.png" />
      <h4>Fake travel agencies: How to avoid it</h4>
      <p>
        Don’t fall for deals that look too good to be true. Deal only with reliable travel agents. Look for genuine, positive reviews. Make bookings with companies with a physical office. Verify they're a legitimate company. Ask for their business license.
      </p>
    </ion-slide>

  </ion-slides>
</div>
</ion-content>
