#vpimg{
    max-height: 40%;
    max-width: 40%;
    display: block;
    margin: 0 auto;
    padding-top: 25%
    
    
    
}
h2{
    color: #2bb8ad;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
}
.continueBtn{
    position: fixed;
    bottom: 10px;
    left: 5%;
    right: 5%;
}
.okBtn{
    font-size: 150%;
}