<ion-content>
  <div  id="vpimg">
    <img src="../../assets/icon/jeepney4.png" />
    
  </div>
  <h2 >We've sent you a verification code to your phone.</h2>
  <ion-list>
    <ion-item>
  <ion-input placeholder="Enter 6 digit verification code"></ion-input>
    </ion-item>
  <ion-item lines="none">
  <ion-button color="secondary" slot="end" fill="clear" class="okBtn">
    <b>OK</b>
  </ion-button>
</ion-item>
</ion-list>
  <ion-button color="secondary" expand="block" (click)="home()" class="continueBtn" disabled="true">
    Continue
  </ion-button>
</ion-content>



