<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Bus Guide</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="sldatt">
    <ion-slide>
      <div class="slide">
        <img src="../../assets/images/bus.png" />
        <p>
          Buses are convenient and affordable means of getting around the Philippines. Bus stations are frequently located in congested areas of cities. Buses frequently only depart when they are full, which means buses are not always on time. It won't be hard to figure out what to do because riding a bus is a fairly simple process.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/bus1.png" />
      <h2>Step 1</h2>
      <p>
        In larger cities there are multiple bus terminals. If you take a jeepney or tricycle to the bus terminal, ask the driver where the terminal is and they will know which terminal to take you to.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/bus2.png" />
      <h2>Step 2</h2>
      <p class="smalltext">
        When you get to the terminal, there are multiple buses to choose from. Ask the barkers what bus to ride to get to your destination or look it up in our application. 
        <br>
        There are different types of buses:<br>
        > Different bus lines<br>
        > Non Stop Buses<br>
        > Buses with multiple stops<br>
        > Air Conditioned buses<br>
        > Non aircon buses
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/bus3.png" />
      <h2>Step 3</h2>
      <p> 
        You don't pay yet when you get on the bus. Sit down in any available empty seat of your choosing. Your carry-on luggage can be stored in the overhead bins and the under-seat storage. Larger suitcases can be packed in spaces on the bus's exterior.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/bus4.png" />
      <h2>Step 4</h2>
      <p> 
        Most buses also include overhead control panels, similar to those seen in airplanes, where you may adjust the bus's tv speakers, put on a reading light, or adjust the air conditioning. Some even have charging ports for your phone.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/bus5.png" />
      <h2>Step 5</h2>
      <p class="smalltext">
        Following the bus's departure, the conductor will approach each passenger one at a time (often starting from the front), ask passengers' destinations, then collect the proper fare. If your payment needs change, they will either give you change right away or return with it later. Don't worry, they never forget to give your change back.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/bus6.png" />
      <h2>Step 6</h2>
      <p>
        Once your fare has been paid, you are free to relax and get comfortable — play mobile games, listen to music, or even go to sleep! More passengers may be picked up along the route, and the conductor will come back around to ask and collect their fares.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/bus7.png" />
      <h2>Step 7</h2>
      <p>
        The bus might make several stops,  once you arrive in your target city. It might make a brief stop at a major mall or a popular location. Even on non-stop buses, this occurs. It's actually very convenient that you can get off as near to where you are going as possible.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/bustip.png" />
      <h2>Bonus Tips</h2>
      <p>
        > Vendors get on buses all the time trying to sell their goods, so always keep an eye on your belongings. <br>
        > You may stop only once during a long journey. You'll have to pay a few pesos to use the restroom.<br>
        > The bus can get super cold. Bring a sweatshirt, some long pants and maybe even a blanket.<br>
      </p>
    </ion-slide>

  </ion-slides>
</ion-content>