<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Bus Guide</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="sldatt">
    <ion-slide>
      <div class="slide">
        <img src="../../assets/images/jeepney1.png" />
        <p>
        Jeepneys are the most common mode of transportation. They have fixed routes and are used for both short and long distances. These modified war vehicles are usually made of stainless steel decorated with bright and colorful designs.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/jeepney2.jpg" />
      <h2>Step 1</h2>
      <p>
        Jeepneys usually have signboards on their windshield with their stops written on them. They also have their stops written on the sides of the jeepneys.
      </p>
    </ion-slide>

  </ion-slides>
</ion-content>