<ion-content>
  <ion-list>
    <ion-list-header>
      <img src="../../assets/icon/Parafarelogo.png" />
      <ion-label color="primary" >
        Become a
        <p>
          True Pasahero
        </p>
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label color="primary" class="subheader">Create an Account with Us</ion-label>
    </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone Number:</ion-label>
        <ion-input placeholder="Enter Phone Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input placeholder="Enter Username"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Password</ion-label>
        <ion-input placeholder="Enter Password" type="Password"></ion-input>
        <ion-input placeholder="Re-enter Password" type="Password"></ion-input>
      </ion-item>
  </ion-list>
  <ion-button expand="block" color="secondary">
    Sign up
  </ion-button>

  <p id="signupusing">or Sign up using</p>
  <!-- <ion-card> -->
  <ion-button color="new"><ion-icon name="logo-facebook"></ion-icon>&nbsp;Facebook</ion-button>
  <ion-button fill="outline"><ion-icon name="logo-google"></ion-icon>&nbsp;Google</ion-button>
<!-- </ion-card> -->
  <ion-button fill="clear" size="small" expand="full">
    Log in here
  </ion-button>
</ion-content>