<ion-content>
  <ion-list>
    <ion-list-header>
      <img src="../../assets/icon/Parafarelogo.png" />
      <ion-label color="primary" >
        Become a
        <p>
          True Pasahero
        </p>
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label color="primary" class="subheader">Create an Account with Us</ion-label>
    </ion-item>
      <ion-item>
        <ion-label position="stacked">Email Address:</ion-label>
        <ion-input placeholder="Enter Email Address" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input placeholder="Enter Username" [(ngModel)]="user.username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input placeholder="Enter Password" [(ngModel)]="user.password" [type]="showPwd ? 'text' : 'password'"></ion-input>
        <ion-icon slot="end" [name]="pwdIcon" (click)="togglePwd()"></ion-icon>
        <ion-input placeholder="Re-enter Password" type="Password" [(ngModel)]="user.confirmpw" [type]="showPwd ? 'text' : 'password'"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>I have read and agree to the...</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start" class="agreeto" [(ngModel)]="TCbtn"></ion-checkbox>
        <ion-button size="small" fill="outline" (click)="terms()">Terms and Conditions</ion-button>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start" class="agreeto" [(ngModel)]="PPbtn"></ion-checkbox>
        <ion-button size="small" fill="outline" (click)="privacy()">Privacy Policy</ion-button>
      </ion-item>
  </ion-list>
  <ion-button expand="block" color="secondary" (click)="registerAccount()" [disabled]="!(TCbtn && PPbtn)">
    Sign up
  </ion-button>

  <p id="signupusing">or Sign up using</p>
  <!-- <ion-card> -->
  <ion-button color="new"><ion-icon name="logo-facebook"></ion-icon>&nbsp;Facebook</ion-button>
  <ion-button fill="outline"><ion-icon name="logo-google"></ion-icon>&nbsp;Google</ion-button>
<!-- </ion-card> -->
  <ion-button fill="clear" size="small" expand="full" (click)="logIn()">
    Log in here
  </ion-button>
</ion-content>