<ion-header class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-title  color="secondary shade">Walking Guide</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentdiv">
  <ion-slides pager="true" class="sldatt">
    <ion-slide>
      <div class="slide">
        <img src="../../assets/images/walk.png" />
        <h2>
        TIPS WHEN WALKING TO THE DESTINATION
        </h2>
        <p>
          Here are some tips when walking to help you keep you and your valuables safe.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/walk1.png" />
      <h2>Walk Facing Traffic</h2>
      <p>
        If you walk on the side of the road, you must face into oncoming traffic. You need to see what’s approaching in order to avoid serious injury.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/walk2.png" />
      <h2>Always carry Identification</h2>
      <p>
        Always carry Identification and important medical information to aid in identifying you in case an incident occurs.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/walk3.png" />
      <h2>Beware of Strangers</h2>
      <p>
        There is always a possibility that you will draw the unwanted attention of the criminal element. Always be wary of the people you come across. For added peace of mind, carry pepper spray or other protection devices.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/walk4.png" />
      <h2>Keep your music volume down</h2>
      <p>
        Listening to music while walking is a wonderful way to utilize your time. But, keep the volume at a level where you can also hear your environment.
      </p>
    </ion-slide>

  </ion-slides>
</div>
</ion-content>