.bg-img{
    --background: url(../../assets/images/jeepneys.png) 0 0/100% 100% no-repeat;
}
#welcome-logo{
    width: 50%;
    height: 40%;
    display: block;
    margin: 40% auto;
}
#getstarted-btn{
    // display: block;
    margin: 10%;
}