ion-content{
    
}

ion-list{
    padding-top: 20%;
}

ion-list-header{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: #2bb8ad;
    #MOP{
    color: #f77f22;
    font-weight: bold;
    margin-top: -10%;
    }
    padding-bottom: 10%;
}

.continueBtn{
    position: fixed;
    bottom: 10px;
    left: 5%;
    right: 5%;
}