<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Jeepney Guide</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentdiv">
  <ion-slides pager="true" class="sldatt">
    <ion-slide>
      <div class="slide">
        <img src="../../assets/images/jeepney1.png" />
        <p>
        Jeepneys are the most common mode of transportation. They have fixed routes and are used for both short and long distances. These modified war vehicles are usually made of stainless steel decorated with bright and colorful designs.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/jeepney2.jpg" />
      <h2>Step 1</h2>
      <p>
        Jeepneys usually have signboards on their windshield with their stops written on them. They also have their stops written on the sides of the jeepneys.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/jeepney3.jpg" />
      <h2>Step 2</h2>
      <p>
        Extend your hand to hail the jeepney you want to ride. If uncertain whether the jeepney is passing by your destination, ask the driver before getting on board.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/jeepney4.jpg" />
      <h2>Step 3</h2>
      <p>
        After boarding the jeepney and getting a seat, pay your fare by passing your payment to the passenger after you and ask them kindly "Makikisuyo po ng bayad."
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/jeepney6.jpg" />
      <h2>Step 4</h2>
      <p>
        Call out "Para po!" to halt the jeepney when you arrive at your destination. Some jeepneys have strings that you can pull on to signal the driver to stop.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/jeepney5.jpg" />
      <h2>Bonus Tip</h2>
      <p>
        Keep your belongings close to keep them safe. Try to cover the sides of your bag to prevent thieves from slashing them.
      </p>
    </ion-slide>

  </ion-slides>
</div>
</ion-content>
