<!-- sidebar menu -->
<ion-menu contentId="main-content">
  <ion-content class="ion-padding">
    <ion-list>
      <ion-list-header class="header">
        <img src="../../assets/icon/Parafarelogo.png" />
        <ion-item>
          <ion-label color="primary">
            <!-- {{ user.data().email }} -->
            <p>
            <!-- {{ user.email }} -->
            </p>
          </ion-label>
        </ion-item>
      </ion-list-header>
      <ion-item button (click)="commutingGuide()">
        <ion-icon name="book" slot="start" color="secondary" ></ion-icon>
        Commuting Guide
      </ion-item>
      <ion-item button (click)="fareGuide()">
        <ion-icon name="cash-outline" slot="start" color="secondary"></ion-icon>
        Fare Guide
      </ion-item>
      <ion-item button (click)="recordPUV()">
        <ion-icon name="information-circle-outline" slot="start" color="secondary"></ion-icon>
        Record PUV Info
      </ion-item>
      <ion-item button (click)="goToSettings()">
        <ion-icon name="settings" slot="start" color="secondary"></ion-icon>
        Settings
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- main content -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Explore Map</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div id="map" class="map"></div>

    <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button id="open-search">
          <ion-icon name="search"></ion-icon>
        </ion-fab-button>
        <ion-fab-button id="open-routes">
          <ion-icon name="analytics-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button  id="open-markers">
          <ion-icon name="pin-sharp"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-modal #modal trigger="open-routes" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <ion-content>
          <h1 style="color: #f77f22;" >Routes</h1>
          <ion-list class="drawercss">
            <ion-item>
              <h4>Jeepney Routes</h4>
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routebauanbatangas", "btgbauan")'>
              <ion-icon name="ellipse" class="btgbauan"></ion-icon>
                Batangas - Bauan
              <ion-icon name="checkmark-sharp" class="btgbauan" id="btgbauan" slot="end" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routebalagtasbatangasAM", "btgblg")'>
              <ion-icon name="ellipse" class="btgblg"></ion-icon>
              Batangas - Balagtas
              <ion-icon name="checkmark-sharp" class="btgblg" id="btgblg" slot="end" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routealangilanbatangasAM", "btgaln")'>
              <ion-icon name="ellipse" class="btgaln"></ion-icon>
              Batangas - Alangilan
              <ion-icon name="checkmark-sharp" class="btgaln" id="btgaln" slot="end" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routecaptoliobatangasAM", "btgcpt")'>
              <ion-icon name="ellipse" class="btgcpt"></ion-icon>
              Batangas - Capitolio
              <ion-icon name="checkmark-sharp" class="btgcpt" id="btgcpt" slot="end" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routebaletebatangasAM", "btgblt")'>
              <ion-icon name="ellipse" class="btgblt"></ion-icon>
              Batangas - Balete
              <ion-icon name="checkmark-sharp" class="btgblt" id="btgblt" slot="end" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routelipabatangasAM", "btglipa")'>
              <ion-icon name="ellipse" class="btglipa"></ion-icon>
              Batangas - Lipa
              <ion-icon name="checkmark-sharp" class="btglipa" id="btglipa" slot="end" style="display: none;"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal >

    <ion-modal #modal trigger="open-search" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <ion-content>
          <h1 style="color: #f77f22" >Search Directions</h1>
          <ion-list class="drawercss">
            <ion-item>
              <h4>Jeepney Routes</h4>
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routebauanbatangas", "btgbauan")'>
              <ion-icon name="ellipse" class="btgbauan"></ion-icon>
                Batangas - Bauan
              <ion-icon name="checkmark-sharp" class="btgbauan" id="btgbauan" slot="end" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routebalagtasbatangasAM", "btgblg")'>
              <ion-icon name="ellipse" class="btgblg"></ion-icon>
              Batangas - Balagtas
              <ion-icon name="checkmark-sharp" class="btgblg" id="btgblg" slot="end" style="display: none;"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal >

    <ion-modal #modal trigger="open-markers" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <ion-content>
          <h1 style="color: #f77f22" >Map Markers</h1>
          <ion-list class="drawercss">
            <ion-item>
              <h4>Jeepney Routes</h4>
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routebauanbatangas", "btgbauan")'>
              <ion-icon name="ellipse" class="btgbauan"></ion-icon>
                Batangas - Bauan
              <ion-icon name="checkmark-sharp" class="btgbauan" id="btgbauan" slot="end" style="display: none;"></ion-icon>
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routebalagtasbatangasAM", "btgblg")'>
              <ion-icon name="ellipse" class="btgblg"></ion-icon>
              Batangas - Balagtas
              <ion-icon name="checkmark-sharp" class="btgblg" id="btgblg" slot="end" style="display: none;"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal >
  </ion-content>
</div>