<!-- sidebar menu -->

<ion-menu contentId="main-content">
  <ion-content class="ion-padding">
    <ion-list>
      <ion-list-header class="header" *ngIf="users.length != 0">
        <img src="../../assets/icon/Parafarelogo.png" />
        <ion-item *ngFor="let user of users">
          <!-- <ion-label color="primary">
            {{user.username}}
            <p>
            {{user.email}}
            </p>
          </ion-label> -->
        </ion-item>
      </ion-list-header>
      <ion-item button (click)="commutingGuide()">
        <ion-icon name="book" slot="start" color="secondary" ></ion-icon>
        Commuting Guide
      </ion-item>
      <ion-item button (click)="fareGuide()">
        <ion-icon name="cash-outline" slot="start" color="secondary"></ion-icon>
        Fare Guide
      </ion-item>
      <ion-item button (click)="goToSettings()">
        <ion-icon name="settings" slot="start" color="secondary"></ion-icon>
        Settings
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- main content -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div id="map" class="map"></div>
    

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button id="open-directions" color="secondary">
        <ion-icon name="map"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-modal #modal trigger="open-directions" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <ion-content>
          <h1 style="color: #f77f22;" >Routes</h1>
          <ion-list class="drawercss">
            <ion-item>
              <h4>Jeepney Routes</h4>
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routebauanbatangas")'>
              <ion-icon name="ellipse" class="btgbauan"></ion-icon>
                Batangas - Bauan
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routebalagtasbatangasAM")'>
              <ion-icon name="ellipse" class="btgblg"></ion-icon>
              Batangas - Balagtas
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routealangilanbatangasAM")'>
              <ion-icon name="ellipse" class="btgaln"></ion-icon>
              Batangas - Alangilan
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routecaptoliobatangasAM")'>
              <ion-icon name="ellipse" class="btgcpt"></ion-icon>
              Batangas - Capitolio
            </ion-item>
            <ion-item button (click)='showJeepneyRoute("routebaletebatangasAM")'>
              <ion-icon name="ellipse" class="btgblt"></ion-icon>
              Batangas - Balete
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>