.menuBtn{
  --box-shadow:none;
}
.drawercss{
  ion-input{
    background: white;
  }
}
h1{
  text-align:center;
  font-weight: bold;
}
.header{
  margin-top: -15%;
  margin-left: -5%;
  margin-bottom: 10%;
  img{
    max-height: 50%;
    max-width: 50%;
    margin-top: 10%;
    margin-left: 8%;
    margin-bottom: -20%;
  }
    p{
      color: #f77f22;
      font-weight: bold;
      }
      
  }
ion-menu {
  --max-width: 80%;
}
#ioncontent {
  --background: #2bb8ad;
}
#map {
  border-radius: 20px;
  margin-top: 2%;
  width: 100%;
  height: 100%;
}
.marker {
  background-color: #f77f22;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.btgbauan {
  color: blue;
}
.btgblg {
  color: #00FF00;
}
.btgaln {
  color: #FFFF00;
}
.btgcpt {
  color: #000000;
}
.btgblt {
  color: #ff0000;
}
.btglipa {
  color: #8F00FF;
}
.jeepneyhotspots {
  color: #f77f22;
}
.tricyclehotspots {
  color: #fac214;
}
.busterminal {
  color: #20827a;
}

ion-title {
  font-family: 'Batangas';
  font-size: x-large;
  margin-left: -10%;
}