.menuBtn{
  --box-shadow:none;
}
ion-modal{
  // --ion-background-color:  #f77f22;
}
.drawercss{
  ion-input{
    background: white;
  }
}
h1{
  text-align:center;
  font-weight: bold;
}
ion-list-header{
  margin-top: -15%;
  margin-left: -5%;
  img{
    max-height: 50%;
    max-width: 50%;
  }
  ion-label{
    margin-left: 5%;
    p{
      color: #f77f22;
      font-weight: bold;
      }
  }
  margin-bottom: 10%;
}